<!DOCTYPE html>
<html lang="ru" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Зюраткуль | В процессе</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/hover-min.css">
    <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="frameworks/lightbox/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<!--<div id="substrate"></div>-->
<body id="body">

<div class="fullScreen" id="main">
    <div id="main_backgroundColor" class="background"></div>
    <div id="main_backgroundImage" class="background"></div>
    <div class="chat">
        <div class="chatInput">
            <i class="fa fa-grin"></i> <!--TODO: Make smiles menu-->
            <input v-model="text" class="form-control" type="text" placeholder="Введите сообщение...">
            <i id="main_send" v-on:click="sendMessage" class="send fa fa-angle-double-right "></i>
        </div>

        <div class="container">
            <message v-for="item in messages"
                     :key="item.id"
                     :text="item.text"
                     :sender="item.sender"
                     :author="item.author"
            >
            </message>
        </div>

    </div>
</div>
<div id="another">
    <div class="container-fluid" id="menu">
        <div id="menu_logo" class="hvr-buzz"><img src="images/logo.png"></div>
        <div class="container">
            <div class="menu_item"><a href="#" class="link-hover-center">о походе</a></div>
            <div class="separator">|</div>
            <div class="menu_item"><a href="#" class="link-hover-center">почему</a></div>
            <div class="separator">|</div>
            <div class="menu_item"><a href="#" class="link-hover-center">куда</a></div>
            <div class="separator">|</div>
            <div class="menu_item"><a href="#" class="link-hover-center">когда</a></div>
            <div class="separator">|</div>
            <div class="menu_item"><a href="#" class="link-hover-center">как</a></div>
            <div class="separator">|</div>
            <div class="menu_item"><a href="#" class="link-hover-center">с кем</a></div>
        </div>
        <a href="#">
            <div id="i_will_go_btn" class="hvr-pop">ПОЙДУ</div>
        </a>
    </div>
    <div id="information">
        <div class="solid_background"></div>
        <div class="chat">

            <div class="container">

                <message>
                    <div class="message">
                        <div class="from them">
                            <span class="author">Артем<br></span>
                            Вот, сначала, посмотри фотки с Зюраткуля. Круто же?
                        </div>
                        <div class="clear"></div>
                    </div>
                </message>
                <message>
                    <div class="message">
                        <div class="from them">
                            <span class="author">Артем<br></span>

                            <a href="images/beautifulImages/1.jpg" data-lightbox="views">
                                <img style="width: 100%" src="images/beautifulImages/1.jpg"></a>
                            <div class="row">
                                <div class="col" id="information_image_col_1">
                                    <a href="images/beautifulImages/2.jpg" data-lightbox="views">
                                        <img style="width: 100%" src="images/beautifulImages/2.jpg">
                                    </a>
                                    <a href="images/beautifulImages/3.jpg" data-lightbox="views">
                                        <img style="width: 100%" src="images/beautifulImages/3.jpg">
                                    </a>

                                    <a href="images/beautifulImages/8.jpg" data-lightbox="views">
                                        <img style="width: 100%" src="images/beautifulImages/8.jpg">
                                    </a>
                                </div>
                                <div class="col" id="information_image_col_2">
                                    <a href="images/beautifulImages/6.jpg" data-lightbox="views"
                                       data-title="Ледяной фонтан">
                                        <img style="width: 100%" src="images/beautifulImages/6.jpg">
                                    </a>
                                    <a href="images/beautifulImages/7.jpg" data-lightbox="views">
                                        <img style="width: 100%" src="images/beautifulImages/7.jpg">
                                    </a>
                                    <a href="images/beautifulImages/5.jpg" data-lightbox="views">
                                        <img style="width: 100%" src="images/beautifulImages/5.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </message>
                <message>
                    <div class="message">
                        <div class="from them">
                            <span class="author">Артем<br></span>
                            Зюраткуль, если ты еще не понял, это озеро в Челябинской области, не так далеко от нас.
                            Мы планируем доехать туда на машинах и погрузиться в лесной интим на 4-5 дней. Найдешь
                            время?
                            По деньгам еще не знаю, может в районе 2к. В основном, уйдет на алкоголь и еду. Из
                            снаряжения...
                            Просто какой-нибудь спортивный костюм, который не жалко порвать, палатки и рюкзаки найдем.
                            Будем есть, пить, петь и наслаждаться природой.
                        </div>
                        <div class="clear"></div>
                    </div>
                </message>
            </div>

        </div>
    </div>
    <div id="advantages">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <div class="advantage">
                        <!-- TODO: Сделать так, чтобы при наводке на секцию картинка автоматически начиналась анимироваться -->
                        <img class='small hvr-bob' src="images/advantage_photos.png"><br>
                        <img src="images/advantage_curve.png" class="curve">
                        <h3>Классные фотки</h3>
                        <img src="images/advantage_curve.png" class="curve">
                        <p>Сможете заполнить свой инстаграмм. Доказать родителям и бабушкам, что не только бухаете
                            летом.</p>
                    </div>
                    <div class="advantages_line_horizontal_left"></div>
                    <div class="advantage">
                        <img class='small hvr-bob' src="images/advantage_fire.png"><br>
                        <img src="images/advantage_curve.png" class="curve">
                        <h3>Посидеть у костра</h3>
                        <img src="images/advantage_curve.png" class="curve">
                        <p>Будет горячо, тепло, приятно. Пламенный свет, в общем.<br><br><br></p>
                    </div>
                    <div class="advantages_line_horizontal_left"></div>
                    <div class="advantage">
                        <img class="big hvr-bob" src="images/advantage_binoculars.png"><br>
                        <img src="images/advantage_curve.png" class="curve">
                        <h3>Узнать что-то новое</h3>
                        <img src="images/advantage_curve.png" class="curve">
                        <p>Не всю же жизнь в университетах учиться и деньги зарабатывать?</p>
                    </div>
                </div>
                <div id="advantages_line_vertical"></div>
                <div class="col-4">
                    <div class="advantage">
                        <img class='small hvr-bob' src="images/advantage_alcohol.png"><br>
                        <img src="images/advantage_curve.png" class="curve">
                        <h3>Выпить на природе</h3>
                        <img src="images/advantage_curve.png" class="curve">
                        <p>Что может быть приятнее, чем выпить бокал красного вина под треск горящего костра и свет
                            луны?</p>
                    </div>
                    <div class="advantages_line_horizontal_right"></div>
                    <div class="advantage">
                        <img class="big hvr-bob" src="images/advantage_guitar.png"><br>
                        <img src="images/advantage_curve.png" class="curve">
                        <h3>Поорать под гитару</h3>
                        <img src="images/advantage_curve.png" class="curve">
                        <p>Где еще можно "спеть" батарейку и коржа под гитару? Да, много где, но в походе пизже.</p>
                    </div>
                    <div class="advantages_line_horizontal_right"></div>
                    <div class="advantage">
                        <img class="big hvr-bob" src="images/advantage_sleepBag.png"><br>
                        <img src="images/advantage_curve.png" class="curve">
                        <h3>Стать туристом</h3>
                        <img src="images/advantage_curve.png" class="curve">
                        <p>Стать тру туристом с официальной бумажкой.</p>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="where">
        <iframe id="map"
                src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d2280183.7525324086!2d57.57580396492055!3d56.07507707483405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m3!3m2!1d57.2414042!2d60.0963566!4m5!1s0x43dac50c64ceeec9%3A0x52e3f8cbb7ea2b22!2z0L7Qty4g0JfRjtGA0LDRgtC60YPQu9GMLCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NjkxNQ!3m2!1d54.9064902!2d59.2147291!5e0!3m2!1sru!2sru!4v1546526185335"
                frameborder="0" style="border:0" allowfullscreen></iframe>
        <div id="when_solid_background" class="solid_background"></div>
        <div class="chat" id="when_chat">
            <div class="chatInput">
                <i class="fa fa-grin"></i> <!--TODO: Make smiles menu-->
                <input class="form-control" type="text" value="Скинь карту">
                <div onclick="openMap()"><i class="send fa fa-angle-double-right"></i></div>
            </div>
            <div class="container">
                <message>
                    <div class="message">
                        <div class="from them">
                            <span class="author">Артем<br></span>
                            Таак бля, пажжи, если ехать через трассу, то <span class="bold">363 км</span> хуёё-моё...
                            Придется <span class="bold">6 часов</span> гнать. Че по бензину? Падажжи ебана...
                        </div>
                        <div class="clear"></div>
                    </div>
                </message>
                <message>
                    <div class="message">
                        <div class="from them">
                            <span class="author">Артем<br></span>
                            Блять...
                        </div>
                        <div class="clear"></div>
                    </div>
                </message>
            </div>
        </div>
    </div>
    <div id="when">
        <div class="solid_background"></div>
        <div id="choice_calendar">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="month" id="June">
                            <h3>Июнь</h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="month" id="July">
                            <h3>Июль</h3>
                            <table class="month_table">
                            </table>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="month" id="August">
                            <h3>Август</h3>
                            <table class="month_table">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat" id="choice_chat">
            <div class="container">
                <message>
                    <div class="message">
                        <div class="from them">
                            <span class="author">Артем<br></span>
                            Когда мы поедем?
                        </div>
                        <div class="clear"></div>
                    </div>
                </message>
                <message>
                    <div class="message">
                        <div class="from them">
                            <span class="author">Артем<br></span>
                            Мы еще не решили.
                        </div>
                        <div class="clear"></div>
                    </div>
                </message>
                <message>
                    <div class="message">
                        <div class="from them">
                            <span class="author">Артем<br></span>
                            Я тут опросик сделал, чтобы решить этот вопрос
                        </div>
                        <div class="clear"></div>
                    </div>
                </message>

                <message>
                    <div class="message">
                        <div class="from them">
                            <span class="author">Артем<br></span>
                            Пройди плз, недолго, даже с сайта уходить не надо
                        </div>
                        <div class="clear"></div>
                    </div>
                </message>
                <message>
                    <div class="message">
                        <div class="from them">
                            <span class="author">Артем<br></span>
                            <span class="fake_link"
                                  onclick="choiceOfDate()">www.этотжесайт.рф/очень_важный_опрос/</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </message>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="frameworks/jquery_js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="frameworks/popper_js/popper.min.js"></script>
<script type="text/javascript" src="frameworks/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="frameworks/lightbox/lightbox.min.js"></script>

<script type="text/javascript" src="frameworks/vue_js/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/messages.js"></script>
<script type="text/javascript" src="js/ChoiceOfDate.js"></script>
<script type="text/javascript" src="js/mapFunctions.js"></script>
<script>
    lightbox.option({
        'albumLabel': "Пикча %1 из %2",
        'wrapAround': true
    })
</script>
</body>
</html>